
/* BASIC SETUP */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  color: #1c1c1c;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 20px;
  font-weight: 300px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

*:focus{outline:none}

.clearfix {zoom: 1}
.clearfix:after{
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* REASUBLE COMPONENTS */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section { padding: 80px 0; }

.box { padding: 1%; }

/*headings */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #f4f7f5;
  font-size: 250%;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  text-align: center;
  margin-bottom: 30px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}


/*PARAGRAPH*/

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 30px;
}

.box p {
  font-size: 85%;
  line-height: 145%;
}

/*ICONS*/

.icon {
  overflow: auto;
  font-size: 300%;
  color: #e67e22;
  margin-bottom: 15px;
  margin-left: -8px;
}

/*BUTTONS*/

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 150px;
  color: #f4f7f5;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #f4f7f5;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active  {
  border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #e67e22;
  color: #f4f7f5;
}


/* HEADER */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
  
}

.main-nav {
  margin-top: 55px;
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #f4f7f5;
  text-decoration: none;
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #f4f7f5;
}

/* MEALS */

.section-meals{
  padding: 0px;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  width: 25%;
  float: left;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #1c1c1c;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.05);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.20);
  opacity: 1;
}

/* HOW IT WORKS */

.section-steps { background-color: #f4f4f4; }

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 100px;
}

.app-screen { width: 40% }

.work-steps { margin-bottom: 50px; }

.work-steps:last-of-type{ margin-bottom: 75px; }

.work-steps div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}


.btn-app img {
  height: 50px;
  width: auto;
  margin-left: 3px;
}

/* CITIES */

.cities img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  transform: scale(1.05);
  transition: transform 0.5s;
}

.cities img:hover { transform: scale(1.15); }

.city-features {
  margin-top: 15px;
  margin-left: -7px;
}

.city-features ion-icon {
  display: inline-block;
  width: 35px;
  color: #e67e22;
  margin-right: 10px;
  font-size: 130%;
  /*secret to align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -7px;
}

.country {
  margin-bottom: 30px;
}

.city-features a:link,
.city-features a:active {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s, color 0.2s;
}

.city-features a:hover,
.city-features a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* TESTIMONIALS */

.customers-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #ffff;
  background-attachment: fixed;
  padding: 80px;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201c";
  font-size: 500%;
  display:block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
  margin-left: 7px;
}

/* SING UP PLANS */

.sing-up-section {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #ffff;
  width: 90%;
  border-radius: 5px;
  margin-left: 5%;
  box-shadow: 0 2px 2px #ebebeb;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 300%;
  font-weight: 100;
  color: #e67e22;
  margin-bottom: 10px;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal{ font-size: 80%; }

.plan-box ul {
  list-style: none;
  padding: 10px 0;
}

.plan-box ul li { padding: 5px 0; }

.features-icons {
  display: inline-block;
  width: 35px;
  color: #e67e22;
  margin-right: 5px;
  font-size: 100%;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -1px;
}

/* FORM */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
}

input[type=checkbox]{ margin: 10px 5px 10px 0 }

/* FOOTER */

footer {
  background-color: #1c1c1c;
  padding: 80px;
}

.footer-nav {
  color: #555;
  float: left;
  list-style: none;
}

.footer-nav li {
  display:inline-block;
  margin-right: 25px;
}


.footer-nav li a:link,
.footer-nav li a:visited {
  padding: 5px 0;
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.4s;
}
  
.footer-nav li a:hover,
.footer-nav li a:active {
  border-bottom: 1px solid #555;
}

.footer-icons {
  float: right;
  list-style: none;
  font-size: 120%;
}

.footer-icons li {
  display: inline-block;
  margin-right: 15px;
  color: #555;
}

.footer-icons li a:link,
.footer-icons li a:visited {
  text-decoration: none;
  color: #555;
  transition: color 0.4s
}

.footer-icons li a:hover,
.footer-icons li a:active { color: #f4f7f5; }


footer p {
  color: #555;
  line-height: 145%;
  margin-top: 40px;
  text-align: center;
}
.meal-photo {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
  position: relative;
  overflow: hidden;
}

/* Style the images within the aspect ratio containers */
.meal-photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and fill container */
}

.meal-rating {
  font-weight: bolder;
  position: absolute;
  text-align: center;
  background-color: none;
  color: rgb(16, 231, 34);
  padding: 85px 150px;
  font-size: 50px;
  opacity: 0;
  transition: opacity 0.9s ease;
  
}

.meal-photo:hover img {
  transform: scale(1.1);
}

.meal-photo:hover .meal-rating {
  opacity: 1;
}

.chat-bot {
  position: fixed;
  right: 3vw; /* Use vw units for positioning */
  bottom: 3vw; /* Use vw units for positioning */
  border: none;
  z-index: 1000;
}



@media (max-width: 767px) {
   /* Adjust font sizes for readability */
   h1 {
      font-size: 24px;
   }
   h2 {
      font-size: 20px;
   }
   p {
      font-size: 16px;
   }

   /* Stack columns vertically */
   .col {
      width: 100%;
   }

   /* Adjust padding and margins for better spacing */
   .row {
      padding: 20px;
   }

   /* Hide or style navigation menu for mobile */
   .main-nav {
      display: none; /* Hide the navigation menu */
   }

   /* Style mobile navigation menu (hamburger icon) */
   .mobile-nav-icon {
      display: inline-block;
      margin-right: 10px;
   }

   /* Make images responsive */
   img {
      max-width: 100%;
      height: auto;
   }

   /* Center-align text in hero box */
   .hero-text-box {
      text-align: center;
   }

   /* Adjust button styles */
   .btn {
      padding: 10px 20px;
   }
}





